# Dependencies
node_modules/

# Environment variables (Sensitive passwords/keys)
.env
.env.local
.env.*

# Production builds
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# OS Files
.DS_Store
Thumbs.db